@model IEnumerable<DbManagement.Models.Module>

@{
    ViewData["Title"] = "Details";
}

<h1>All modules</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Module Code
            </th>
            <th>
                Module Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                Class Hours
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.ModuleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassHours)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ModuleId" class="delete-links">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>