@model DbManagement.Models.UserSemester

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserSemester</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeksInSemester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeksInSemester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.CellNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SemesterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
